* {
    box-sizing: border-box;
}
  
  body {
    background: #f7f7f7;
    max-width: 900px;
    margin: auto;
}

.banner {
    width: 100%;
}

.menu {
    margin: 0;
    padding: 0;
    width: auto;
    height: 30px;
}

.menu ul{
    list-style: none;
}

.menu li{
    width: 80px;
    padding:0px;
    margin: 0;
    position: relative;
    display: inline;
    float: left;
    border-left: #999999 thin solid;
}

.menu li ul{
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 35px;
    left: 0;
    }

.menu a{
    display: block;
    text-decoration: none;
    padding: 7px;
    background-color: #CCCCCC;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.menu li:hover ul, li.over ul{
    display: block;
}

.menu li.btnesquerdo{
    border: none;
}

#title, .subtitle, .post_title {
    color: #505050;    
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-botton: 15px;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contacts_lists {
    list-style-type: nome;
    padding-left: 15px;
}

.contatcs_list li a {
    text-decoration: nome;
}

.footer {
    background-color: black;
    color: #ffff;
    text-align: left;
    padding: 10px;
}